html
	head
		title Rastreamento Veicular
		link(href="leaflet/leaflet.css",rel="stylesheet")
		link(href="fontawesome/css/all.css")
		link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css",rel="stylesheet",integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl",crossorigin="anonymous")
		script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js",integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0",crossorigin="anonymous")
		script(src="js/prepara_elementos_da_tela.js",type="module")
		script(src="leaflet/leaflet.js")
		script(type="text/javascript",src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0")
		script(type="text/javascript",src="fontawesome/js/all.js")
	body
		div(class="container-fluid")
			div(class="row")
					div(class="navbar navbar-expand-lg navbar-dark bg-dark")
						div(class="container-fluid")
							div(class="row")
								div(class="col-4")
									a(class="navbar-brand") Rastreamento
								div(class="col-8")
									ul(class="navbar-nav")
										li(class="nav-item")
											a(class="nav-link nav-dispositivos") Dispositivos
										li(class="nav-item")
											a(class="nav-link nav-regioes") Regiões
										li(class="nav-item")
											a(class="nav-link nav-eventos") Eventos
										li(class="nav-item")
											a(class="nav-link nav-registros") Registros
			div(class="row h-100")
				div(class="col-3 list-group px-0", id="lista-de-itens")
				div(id="mapa",class="col-9 h-100")